<html>
<head>
	<title id = "title">The Will of the Wisps</title>
<head>
<body>
	<h1>The Will of the Wisps</h1>
</head>
<dl>
<dt><a href="/hero/cloud">Cloud</a></dt>
<dt>Health Points</dt><dd>600</dd>
<dt>Base Attack Damage</dt><dd>57</dd>
<dt><a href="/hero/jester">Jester</a></dt>
<dt>Health Points</dt><dd>660</dd>
<dt>Base Attack Damage</dt><dd>64</dd>
<dt><a href="/hero/sunflowey">Sunflowey</a></dt>
<dt>Health Points</dt><dd>650</dd>
<dt>Base Attack Damage</dt><dd>43</dd>
</dl>
</body>
</html>